.cartContainer {  
  margin-top: 55px;
  width: 55vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.cartContentContainer {
  justify-self: center;
  align-self: center;
  width: 89%;
  height: 100vh;
  overflow: scroll;
}

.cartContentItem {
  max-height: 34vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-right: 13%;
}

.cartImage {
  max-width: 8vw;
  height: auto;
  margin-right: 13px;
}

.checkoutInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: black;
  height: 55%;
}

.checkoutInfoContainer > p {
  font-size: 18px;
  margin-bottom: 13px;
}

.cartContentItem p:first-child {
  justify-self: flex-start;
}

.discountText {
  color: green;
  margin-left: 10px;
}

.checkoutButton {
  font-size: 16px;
  color: white;
  background-color: black;
  border-radius: 0;
  transition: background-color .34s ease;
  border: none;
  outline: none;
  height: 10vh;
}

.checkoutButton:hover {
  background-color: blue;
}

@media (max-width: 767px) {
  .cartContainer {
    display: flex;
    flex-direction: column;
    width: 89vw;
    height: 80vh;
  }
  .cartContentContainer {
    height: 55vh;
  }
  .cartImage {
    max-width: 21vw;
  }
  .checkoutInfoContainer {
    justify-content: flex-start;
    height: auto;
  }
}
