.productPreviewItem {
  display: flex;
  flex-direction: column;
  border: 1px solid orange;
  height: 34vw;
  width: 21vw;
}

.productImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productDescContainer {
  border: 1px solid orange;
}
