.productsPreviewContainer {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 21px;
  width: 89vw;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

@media (max-width: 767px) {
  .productsPreviewContainer {
    flex-direction: column;
  }
}

.productsContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

