.heroContainer {
  width: 100vw;
  height: 55vw;
  background-image: url('/images/heroImages/landinghero.png');
  background-size: cover;
  background-attachment: fixed; 
  background-position: 0px 0vw;
  padding-left: 10vw;
  padding-top: 10vw;
}

.heroHeader {
  padding-bottom: 10px;
}

.heroContainer > * {
  color: white;
}

.shopNowButton {
  color: black;
  width: 8vw;
  height: 3vw;
  font-size: 21px;
}

