.heroContainer {
  width: 100vw;
  height: 55vw;
  background-image: url('/images/heroImages/landinghero.png');
  background-size: cover;
  background-attachment: fixed; 
  background-position: 0px 0vw;
  padding-left: 10vw;
  padding-top: 10vw;
  background-color: black;
}

.heroHeader {
  padding-bottom: 10px;
}

.heroContainer > * {
  color: white;
}

.shopNowButton {
  color: black;
  width: 8vw;
  height: 3vw;
  font-size: 21px;
}

@media (max-width: 767px) {
  .heroContainer {
    display: flex;
    flex-direction: column;
    height: 89vh;
    width: 100vw;
    background-position: 89vh 8vw;
    padding-left: 0;
    justify-content: center;
    align-items: center;
  }

  .shopNowButton {
    width: 34vw;
    height: 8vh;
  }

  .heroHeader {
    padding-bottom: 10vh;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  }
}

